html, body {
    background-color: rgb(255, 207, 223);
    padding: 0;
    margin: 0;
}

.purple {
    box-sizing: border-box;
    width: 650px;
    height: 800px;
    padding: 45px;  
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(222, 10, 137, 0.476);
    margin-left: 305px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

#fun {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 5px;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes example {
    from {background-color: red};
    to {background-color: yellow};
}